{{ form_start(form) }}
    <div class="row g-3">
        <div class="col-sm-12">
            {{ form_label(form.name, 'Name', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            <div class="invalid-feedback">
            {{ form_errors(form.name) }}
            </div>
        </div>
        <button class="w-100 btn btn-primary btn-lg">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
